body {
    font-family: Helvetica;
    background-image: url("assets/spacebackground.png");
    color: #FFFFFF;
}

#main {
    background-image: url("assets/spacebackground.png");
}

#title {
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

#instructions {
    color: #FFFFFF;
    text-align: center;
    margin-top: 75px;
}

#uploads {
    width: 160px;
    margin: 0 auto;
}

#csv-file {
    color: #FFFFFF;
}

.btn, #gameOptions a, #gameOptions button {
     background: #FFFFFF;
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #0a4973;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 45px;
    margin: 0 auto;
    margin-top: 50px;
}

.btn a {
    text-decoration: none;
    color: #0a4973;
}

#rhs {
    width: 200px;
    display: block;
    float: right;
    margin-top: 35px;
}

#questionArea {
    height: 200px;
    width: 200p;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFFFFF;
}

#answerArea {
    height: 300px;
    width: 200px
}

#answerChoices {
    height: 300px;
    overflow-y: scroll;
}

#question {
    height: 200px;
    overflow-y: scroll;
}

.answer {
    margin-top: 20px;
}

.text {
    padding: 0 10px 0 5px;
}

#gameDiv {
    margin-top: 30px;
    width: 950px;
    border: 1px solid #FFFFFF;
}

#gameArea {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

#previewDiv {
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border: 1px solid #D4D4D4;
}

td {
    padding: 10px 15px 15px 10px;
}

tr:nth-child(odd) {
    background-color: #D4D4D4;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
    color: #000000;
}

tr:first-child {
    font-weight: bold;
}

#dialog {
    visibility: hidden;
    background: white;
    color: black;
    width: 400px;
    position: absolute;
    margin-top: 20px;
    margin-left: 365px;
    padding: 10px;
}

#dialog img {
    margin-left: 35px;
}